.DS_Store
benthoz/*
data_splits/*
data/validation/*
data/train/*
data/test/*
data/models/*
data/*
!data/validation/.gitkeep
!data/train/.gitkeep
!data/test/.gitkeep 
!data/models/.gitkeep
!benthoz_images/.gitkeep
.ipynb_checkpoints/*
*.png
*.csv
*.zip
*.swp
*.pkl
notebooks/.ipynb_checkpoints/* 



